body {
	background: #1B1F3B;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}	

.main-container {
	display: flex;
	flex-direction: column;
}

.row-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	margin: 0;
}

.square {
	display: flex;
	height: 150px;
	width: 150px;
	background-color: #E1E5F2;
	border: 1px; 
	border-color: black;
}
