body {
	background: #1B1F3B;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}	

.new-grid {
	height: 75px;
	width: 250px;
	color: black;
	background-color: #E1E5F2;
	border-style: none;
}

.main-container {
	display: flex;
	flex-direction: column;
	margin: 8px;
}

.row-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.square {
	display: flex;
	height: 150px;
	width: 150px;
	background-color: #E1E5F2;
	border: 1px; 
	border-color: black;
}
